In [1]:
import pandas as pd

# create a sample dataframe with high resolution pressure values
df = pd.DataFrame({'pressure': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145]})

# calculate the threshold for reducing the resolution
threshold = df['pressure'].max() * 0.98

# filter the dataframe to keep only the rows where pressure is above the threshold
df_filtered = df[df['pressure'] >= threshold]

# reset the index of the filtered dataframe
df_filtered = df_filtered.reset_index(drop=True)

# create a new dataframe with reduced resolution by selecting every other row from the filtered dataframe
df_reduced = df_filtered.iloc[::2, :]

# print the original dataframe and the reduced dataframe for comparison
print('Original dataframe:')
print(df)
print('Reduced dataframe:')
print(df_reduced)

Original dataframe:
   pressure
0       100
1       105
2       110
3       115
4       120
5       125
6       130
7       135
8       140
9       145
Reduced dataframe:
   pressure
0       145

In [2]:
df_filtered

   pressure
0       145

In [3]:
import pandas as pd

# Generate sample data
data = {'pressure': [995.423, 995.484, 995.545, 995.362, 993.271, 994.107, 994.944, 989.231, 990.147, 991.062, 991.977, 983.545, 985.288, 987.031, 982.673, 980.66, 981.331, 982.002, 979.989, 979.64, 979.78, 979.919, 973.736, 975.383, 977.03, 978.677, 967.683, 969.426, 971.169, 966.811, 967.909, 967.543, 967.177, 968.275, 965.661, 966.706, 967.752, 957.996, 959.887, 961.778, 963.669, 955.585, 956.074, 956.562, 955.341, 952.413, 953.389, 954.365, 951.437, 948.997, 949.973, 950.949, 946.099, 946.648, 947.197, 947.746, 940.805, 942.478, 944.152, 939.968, 935.941, 937.283, 938.626, 934.599, 933.902, 934.181, 934.459, 931.061, 931.793, 932.525, 933.257, 926.302, 927.766, 929.23, 925.57, 922.642, 923.618, 924.594, 921.666, 918.877, 919.993, 921.108, 915.626, 916.236, 916.846, 917.457, 913.648, 914.205, 914.763, 913.369, 910.258, 911.295, 912.332, 909.221, 905.376, 906.658, 907.939, 904.095, 901.306, 902.422, 903.537, 897.472, 898.378, 899.285, 897.019, 894.64, 895.433, 896.226, 893.846, 892.277, 892.905, 893.533, 886.953, 888.295, 889.637, 890.979, 881.47, 883.074, 884.678, 880.669, 878.106, 878.96, 879.814, 877.252, 874.812, 875.788, 876.764, 870.847, 871.701, 872.555, 873.409, 867.7, 868.607, 869.513, 867.247, 863.221, 864.563, 865.905, 861.879, 858.915, 860.101, 861.286, 855.168, 855.9, 856.632, 857.364, 851.664, 852.71]}
df = pd.DataFrame(data)

# Define a function to reduce the resolution
def reduce_resolution(df, decrease_percent):
    # Initialize the reduced dataframe with the first value
    reduced_df = pd.DataFrame({'pressure': [df.iloc[0]['pressure']]})

    # Iterate through the remaining rows and decrease the resolution
    for i in range(1, len(df)):
        # Calculate the new pressure value based on the decrease percent
        new_pressure = reduced_df.iloc[-1]['pressure'] * (1 - decrease_percent)

        # If the new pressure value is less than the current pressure value,
        # append it to the reduced dataframe
        if new_pressure <= df.iloc[i]['pressure']:
            reduced_df = reduced_df.append({'pressure': new_pressure}, ignore_index=True)

    return reduced_df

# Call the function to reduce the resolution
reduced_df = reduce_resolution(df, 0.02)

# Print the original and reduced dataframes
print("Original dataframe:")
print(df)
print("Reduced dataframe:")
print(reduced_df)

Original dataframe:
     pressure
0     995.423
1     995.484
2     995.545
3     995.362
4     993.271
..        ...
143   855.900
144   856.632
145   857.364
146   851.664
147   852.710

[148 rows x 1 columns]
Reduced dataframe:
       pressure
0    995.423000
1    975.514540
2    956.004249
3    936.884164
4    918.146481
..          ...
143   55.377902
144   54.270344
145   53.184937
146   52.121238
147   51.078813

[148 rows x 1 columns]

In [8]:
reduced_df[reduced_df.pressure > 852]

     pressure
0  995.423000
1  975.514540
2  956.004249
3  936.884164
4  918.146481
5  899.783551
6  881.787880
7  864.152123

In [5]:
df

     pressure
0     995.423
1     995.484
2     995.545
3     995.362
4     993.271
..        ...
143   855.900
144   856.632
145   857.364
146   851.664
147   852.710

[148 rows x 1 columns]